<h1 class="museus">Museu Regional de Beja</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Beja/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Beja/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu Regional de Beja, também conhecido como Museu Rainha Dona Leonor, está localizado na cidade de
      Beja, no Alentejo, Portugal. Inaugurado em 1927, o museu está instalado no antigo Convento da Conceição,
      um edifício histórico que data do século XV. Este convento é um exemplo magnífico da arquitetura gótica
      e manuelina, e o próprio edifício é uma parte importante do património cultural da região.
      <br><br>
      A coleção do Museu Regional de Beja é vasta e diversificada, abrangendo várias áreas do conhecimento e
      da arte. Entre os itens expostos estão peças de arqueologia, arte sacra, pintura, escultura, cerâmica,
      têxteis, mobiliário e artefatos etnográficos. A coleção de arqueologia inclui artefatos que vão desde a
      pré-história até a época romana e medieval, fornecendo uma visão abrangente sobre a história antiga da
      região.
      <br><br>
      Uma das peças mais notáveis do museu é o túmulo da abadessa Dona Brites de Ataíde, uma obra-prima da
      escultura renascentista portuguesa. A coleção de arte sacra inclui também uma série de objetos
      religiosos, como pinturas, esculturas, e paramentos litúrgicos, refletindo a rica herança religiosa do
      Alentejo.
      <br><br>
      O Museu Regional de Beja também é conhecido por sua coleção de azulejos, que inclui exemplares desde o
      século XVI até o século XVIII. Estes azulejos decoram várias partes do antigo convento, criando um
      ambiente único que combina arte e história.
      <br><br>
      Além das exposições permanentes, o museu organiza regularmente exposições temporárias, eventos
      culturais, palestras e atividades educativas. Estas iniciativas têm como objetivo promover a educação
      cultural e histórica, bem como incentivar a participação ativa da comunidade.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.3</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Largo da Conceicao 5, 7800-131 Beja</p>
  </div>
</div><br>
<br>
<br>
<h1 class="museus">Bilhete para Museu Regional de Beja</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Beja/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>2€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Regional de Beja<br>
          <h4>Beja</h4>
          <p>
            Largo da Conceicao 5, 7800-131 Beja
          </p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.museuregionaldebeja.pt/?page_id=85" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
