<h1 class="museus">Museu Militar de Bragança</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Militar/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Militar/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu Militar de Bragança, localizado na cidade de Bragança, Portugal, é uma instituição dedicada à
      preservação e exibição da história militar portuguesa. Situado no imponente Castelo de Bragança, que
      remonta ao século XII, o museu oferece uma visão abrangente sobre a evolução das forças armadas
      portuguesas ao longo dos séculos.
      <br><br>
      Fundado em 1932, o museu apresenta uma vasta coleção de armas, uniformes, medalhas, e outros artefatos
      militares. Entre os destaques estão as armas brancas e de fogo que ilustram a evolução tecnológica e
      tática do exército português. Além disso, as exposições permanentes incluem documentos históricos, mapas
      e gravuras que ajudam a contextualizar os conflitos e batalhas em que Portugal esteve envolvido.
      <br><br>
      O Castelo de Bragança, com suas muralhas bem preservadas e torres imponentes, proporciona um cenário
      histórico autêntico para o museu. O edifício em si é um testemunho da arquitetura militar medieval e
      oferece aos visitantes uma experiência imersiva, onde podem explorar as ameias, torres e a majestosa
      Torre de Menagem, que abriga parte significativa das exposições.
      <br><br>
      O museu também desempenha um papel educativo importante, organizando atividades e visitas guiadas que
      visam sensibilizar o público, especialmente os jovens, para a importância da história militar na
      formação da identidade nacional. Com uma abordagem pedagógica, o Museu Militar de Bragança contribui
      para a valorização do património cultural e histórico de Portugal.
      <br><br>
      Além das exposições permanentes, o museu organiza regularmente exposições temporárias e eventos
      especiais que abordam temas específicos da história militar, proporcionando uma programação dinâmica e
      diversificada. Esta combinação de história, educação e cultura faz do Museu Militar de Bragança um ponto
      de referência para todos os interessados na história militar e no património cultural português.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.4</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. da Cidadela, 5300-025 Bragança</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Militar de Bragança</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Militar/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md">
        <h2>3€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Militar de Bragança<br>
          <h4>Bragança</h4>
          <p>R. da Cidadela, 5300-025 Bragança</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://turismo.cm-braganca.pt/tradicoes-e-experiencias/museus/geo_artigo/museu-militar-de-braganca" class="btn btn-lg w-75" style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
