<h1 class="museus">Museu da Universidade de Coimbra</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Coimbra/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Coimbra/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu da Universidade de Coimbra, também conhecido como Museu da Ciência da Universidade de Coimbra, é
      uma instituição dedicada à preservação e exibição do rico património científico e histórico da
      Universidade de Coimbra, uma das mais antigas universidades da Europa, fundada em 1290. O museu está
      localizado no centro histórico da cidade de Coimbra, em Portugal, e ocupa diversos edifícios
      emblemáticos da universidade.
      <br><br>
      O Museu da Ciência foi inaugurado em 2006 e está sediado no Laboratorio Chimico, um edifício histórico
      que data do século XVIII. Este laboratório foi um dos primeiros edifícios em Portugal projetados
      especificamente para o ensino e a investigação científica, e a sua preservação reflete a longa tradição
      científica da universidade.
      <br><br>
      O acervo do museu é vasto e diversificado, abrangendo várias áreas do conhecimento científico. Inclui
      instrumentos científicos históricos, modelos anatómicos, coleções de história natural, e equipamentos de
      laboratório que foram utilizados ao longo dos séculos. Estas coleções permitem aos visitantes
      compreender a evolução das práticas científicas e educativas na Universidade de Coimbra.
      <br><br>
      Uma das principais atrações do Museu da Ciência é a Galeria de Física, que exibe uma impressionante
      coleção de instrumentos científicos utilizados em experiências e demonstrações ao longo dos séculos
      XVIII e XIX. Esta galeria oferece uma visão fascinante sobre o desenvolvimento da física e da tecnologia
      durante este período.
      <br><br>
      Outra secção importante é a Galeria de História Natural, que apresenta espécimes de zoologia, botânica,
      geologia e paleontologia. Estas coleções foram fundamentais para o ensino das ciências naturais na
      universidade e refletem a importância da pesquisa científica na compreensão do mundo natural.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.3</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Universidade de Coimbra</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu da Universidade de Coimbra</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Coimbra/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>13,50€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu da Universidade de Coimbra<br>
          <h4>Coimbra</h4>
          <p>Universidade de Coimbra</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://visit.uc.pt/pt/program-list/4" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
