<h1 class="museus">Museu da Tapeçaria</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Tapeçaria/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Tapeçaria/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu de Tapeçaria de Portalegre Guy Fino, localizado em Portalegre, Portugal, é uma instituição
      dedicada à arte da tapeçaria, um dos artesanatos mais tradicionais e importantes da região. Inaugurado
      em 2001, o museu presta homenagem a Guy Fino, um dos principais impulsionadores da tapeçaria em
      Portalegre, que ajudou a elevar esta forma de arte a nível internacional através da Fábrica de
      Tapeçarias de Portalegre.
      <br><br>
      A coleção do Museu de Tapeçaria é extensa e apresenta uma vasta gama de tapeçarias que exemplificam a
      técnica única e o alto nível de habilidade artesanal associados a esta tradição. As tapeçarias de
      Portalegre são conhecidas pela sua qualidade excepcional e pela técnica de ponto característico, que
      permite a criação de peças com grande detalhe e profundidade.
      <br><br>
      As exposições permanentes do museu incluem tapeçarias criadas a partir de desenhos de renomados artistas
      portugueses e internacionais, como Almada Negreiros, Vieira da Silva, Jean Lurçat e muitos outros. Estas
      colaborações entre artistas e artesãos resultaram em obras que são verdadeiras peças de arte, combinando
      a visão artística com a destreza técnica dos tapeceiros de Portalegre.
      <br><br>
      Além das tapeçarias, o museu também exibe os desenhos preparatórios, esboços e cartazes utilizados na
      criação das obras, proporcionando uma visão completa do processo criativo e técnico. Estas exposições
      permitem aos visitantes apreciar não só o produto final, mas também o trabalho e a criatividade que
      estão por trás de cada peça.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.8</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. da Figueira 9, 7300-231 Portalegre</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu da Tapeçaria</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Tapeçaria/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>3€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu da Tapeçaria<br>
          <h4>Portalegre</h4>
          <p>R. da Figueira 9, 7300-231 Portalegre</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.cm-portalegre.pt/blog/locais/museu-da-tapecaria-de-portalegre-guy-fino/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
