<h1 class="museus">Museu Marítimo</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Marítimo/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Marítimo/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu Marítimo de Ílhavo, situado perto de Aveiro, é um dos mais importantes museus dedicados à
      história e cultura marítima em Portugal. Este museu oferece uma profunda exploração da relação entre o
      povo da região e o mar, destacando a pesca do bacalhau e a vida dos pescadores, que durante séculos
      enfrentaram os rigores do Atlântico Norte.
      <br><br>
      O museu está instalado num edifício moderno e arquitetonicamente notável, proporcionando um ambiente
      envolvente e educativo para os visitantes. A exposição permanente está organizada de forma temática,
      permitindo uma compreensão detalhada da vida marítima e da pesca ao longo dos tempos.
      <br><br>
      Um dos principais destaques do Museu Marítimo de Ílhavo é a secção dedicada à pesca do bacalhau. Esta
      área oferece uma visão abrangente sobre a história desta atividade, que desempenhou um papel crucial na
      economia e na cultura portuguesa. Modelos de embarcações, instrumentos de navegação, fotografias e
      filmes documentais ilustram as difíceis condições enfrentadas pelos pescadores. Além disso, objetos
      pessoais e relatos de pescadores acrescentam uma dimensão humana à exposição, proporcionando uma conexão
      emocional com as histórias de coragem e perseverança.
      <br><br>
      O aquário de bacalhaus é outra atração central do museu. Este espaço permite aos visitantes observar de
      perto este peixe icônico, que tem sido uma parte fundamental da dieta portuguesa. O aquário oferece uma
      experiência educativa sobre a biologia e o habitat natural dos bacalhaus, destacando a importância da
      sustentabilidade na pesca.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.5</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Avenida Doutor Rocha Madahil 193, 3830-193 Ílhavo</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Marítimo</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Marítimo/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>4.45€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Marítimo<br>
          <h4>Aveiro</h4>
          <p>Avenida Doutor Rocha Madahil 193, 3830-193 Ílhavo</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://museumaritimo.cm-ilhavo.pt/visitar/bilheteira" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
