<h1 class="museus">O Átomo e as Partículas Elementares, Lisboa</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="carousel-container saojoao" style="padding-top: 90px;">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/eventos-fotos/event2/fotos/1.jpg" alt="Foto 1" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event2/fotos/2.jpg" alt="Foto 2" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event2/fotos/3.jpg" alt="Foto 3" class="carousel-img">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br><br>
    <p>A ideia do átomo foi inicialmente proposta pelos filósofos gregos Leucipo e Demócrito no século V a.C.
      Eles acreditavam que toda a matéria era composta de pequenas e indivisíveis partículas chamadas átomos.
      Esta visão filosófica surgiu da necessidade de explicar a natureza contínua e descontínua da matéria,
      fornecendo uma base para muitas discussões filosóficas sobre a natureza da realidade.
      <br><br>
      Ao longo dos séculos, a ideia do átomo evoluiu significativamente com contribuições de cientistas e
      filósofos. No início do século XIX, John Dalton formulou a teoria atômica moderna, que postulava que os
      átomos de diferentes elementos possuem diferentes propriedades. Este foi um marco importante que
      integrou a ideia filosófica de átomos com evidências científicas.
      <br><br>
      Com o avanço da ciência no século XX, a estrutura do átomo foi desvendada ainda mais. Descobertas como o
      elétron, o núcleo atômico, e as partículas subatômicas (prótons e nêutrons) transformaram nossa
      compreensão da matéria. Experimentos de Ernest Rutherford e Niels Bohr, entre outros, revelaram a
      complexidade interna do átomo e a existência de partículas elementares.
      <br><br>
      A física quântica, desenvolvida no início do século XX, introduziu uma nova maneira de entender as
      partículas elementares. Teorias como a mecânica quântica e a teoria da relatividade de Einstein
      forneceram uma estrutura para entender fenômenos em escalas subatômicas. Descobertas posteriores, como
      os quarks e os bósons, expandiram ainda mais nosso conhecimento sobre as partículas fundamentais que
      constituem o universo.
      <br><br>
      Além da ciência, a filosofia continua a explorar as implicações das descobertas atômicas e subatômicas.
      Debates filosóficos modernos discutem questões sobre a natureza da realidade, a interconectividade de
      todas as coisas, e as implicações éticas e existenciais das descobertas científicas. A interseção entre
      ciência e filosofia continua a enriquecer nossa compreensão do mundo e do universo.
    </p>
    <p><fa-icon [icon]="faLocation" style="margin-left: 50px;"></fa-icon> Circular Sul do Bairro da Encarnação, 35-C 1800-135 Lisboa</p>
    <p><fa-icon [icon]="faTicket" style="margin-left: 50px;margin-top: -10px;"></fa-icon><i class="mx-2">Conferência</i></p>
  </div>
</div><br>
