<h1 class="museus">Navio Gil Eannes</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Gileanes/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Gileanes/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Navio Gil Eannes é uma embarcação portuguesa com uma história marcante que abrange os campos da pesca,
      medicina e preservação cultural. Construído em 1955 nos estaleiros da CUF, em Lisboa, inicialmente
      serviu como navio de apoio à pesca bacalhoeira nas águas da Gronelândia e Terra Nova.<br><br>

      Em 1962, o Gil Eanes foi transformado em um navio hospital pela Santa Casa da Misericórdia de Lisboa.
      Nesta nova função, a embarcação desempenhou um papel crucial ao oferecer cuidados médicos e de socorro
      aos pescadores portugueses que enfrentavam condições extremas nos mares do Atlântico Norte durante as
      campanhas de pesca do bacalhau.<br><br>

      Após décadas de serviço humanitário, o navio foi retirado das operações médicas e, em 1998, foi
      convertido em um navio-museu. Atualmente, o Gil Eannes encontra-se atracado em Viana do Castelo, onde é
      aberto ao público como uma atração turística.<br><br>

      Além de seu papel histórico como navio hospital, o Gil Eannes também é um símbolo do patrimônio marítimo
      português, preservando não apenas a memória das pescas longínquas, mas também o espírito de
      solidariedade e assistência médica que marcou as suas missões ao longo dos anos.</p>

    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.6</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Navio Gil Eannes - Doca Comercial, 4900-321 Viana do Castelo</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Navio Gil Eannes</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Gileanes/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2>2ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>24<br>
          <h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 120px;">
        <h2>5€</h2>
      </div>
      <div class="col-md-4">
        <h3>Navio Gil Eannes<br>
          <h4>Viana do Castelo</h4>
          <p>Navio Gil Eannes - Doca Comercial, 4900-321 Viana do Castelo</p>
        </h3>
      </div>
      <div class="col-md align-content-center">
        <a href="https://www.livingtours.com/pt/tour/museu-navio-gil-eannes" class="btn btn-lg w-75" style="background-color: lightyellow;">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
