<h1 class="museus">Museu do Douro</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Douro/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Douro/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu do Douro, localizado na cidade de Peso da Régua, na região do Douro, é uma instituição dedicada à
      preservação e divulgação da história e cultura da mais antiga região demarcada de vinhos do mundo.
      Fundado em 1997 e inaugurado em 2008, o museu tem como missão celebrar a identidade e o património
      cultural, natural e vinícola do Vale do Douro, um Património Mundial da UNESCO.
      <br><br>
      O edifício principal do museu, situado na Casa da Companhia, é um exemplo de arquitetura tradicional
      duriense, cuidadosamente restaurado para albergar exposições permanentes e temporárias. A exposição
      permanente oferece uma visão abrangente da história e cultura vitivinícola da região, desde a produção
      do vinho do Porto até às tradições e modos de vida dos seus habitantes. Através de documentos
      históricos, objetos etnográficos e interativos multimédia, os visitantes podem explorar a evolução da
      viticultura e da enologia ao longo dos séculos.
      <br><br>
      Além das exposições, o Museu do Douro promove diversas atividades educativas e culturais, incluindo
      workshops, conferências e visitas guiadas, que visam enriquecer o conhecimento sobre a região e o seu
      legado vinícola. O museu também possui uma biblioteca especializada em vitivinicultura e uma loja onde
      os visitantes podem adquirir vinhos e produtos regionais.
      <br><br>
      O Museu do Douro é um ponto de encontro entre o passado e o presente, proporcionando uma compreensão
      profunda da importância do vinho na formação cultural e econômica da região. Através das suas
      iniciativas, o museu contribui para a valorização e a promoção do Douro como destino turístico e
      cultural, destacando a singularidade da sua paisagem e a excelência dos seus vinhos.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.5</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. do Marquês de Pombal, 5050-282 Peso da Régua</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu do Douro</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Douro/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>7€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu do Douro<br>
          <h4>Vila Real</h4>
          <p>R. do Marquês de Pombal, 5050-282 Peso da Régua</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.museudodouro.pt/condicoes-o-museu-do-douro" class="btn btn-lg w-75" style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
