<h1 class="museus">Museu do Quartzo</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Quartzo/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Quartzo/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu do Quartzo, situado em Viseu, Portugal, é uma instituição dedicada à geologia, com foco especial
      no quartzo, um dos minerais mais abundantes na crosta terrestre. Inaugurado em 2012, o museu está
      localizado no Monte de Santa Luzia, um local de grande importância geológica devido à sua riqueza em
      depósitos de quartzo.
      <br><br>
      O Museu do Quartzo foi idealizado pelo geólogo Galopim de Carvalho e oferece aos visitantes uma visão
      abrangente sobre a geologia da região e a importância do quartzo em diversas áreas. O edifício do museu,
      moderno e arquitetonicamente distinto, está harmoniosamente integrado na paisagem natural,
      proporcionando uma experiência educativa e estética.
      <br><br>
      A exposição permanente do museu está organizada em várias secções temáticas, cada uma abordando
      diferentes aspetos do quartzo e da geologia. Uma das principais áreas é a que trata da formação e das
      propriedades do quartzo, onde os visitantes podem aprender sobre as condições geológicas que levam à
      formação deste mineral e suas várias formas cristalinas. Amostras de quartzo de diferentes partes do
      mundo são exibidas, mostrando a diversidade e a beleza deste mineral.
      <br><br>
      Outra secção importante do museu é dedicada à utilização do quartzo ao longo da história. Esta exposição
      destaca como o quartzo tem sido usado em várias culturas e civilizações, desde a fabricação de
      ferramentas na pré-história até o uso moderno em tecnologias avançadas, como na produção de componentes
      eletrónicos e ópticos. Os visitantes podem ver uma variedade de objetos feitos de quartzo, incluindo
      ferramentas antigas, joias e dispositivos tecnológicos.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.5</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Rua de Santa Luzia, 3515-371 Vila Nova do Campo</p>
  </div>
</div><br>
<br>
<br>
<h1 class="museus">Bilhete para Museu do Quartzo</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Quartzo/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-3">
        <h2 style="color: green; text-align: center;">Gratuito</h2>
      </div>
      <div class="col-md-6">
        <h3>Museu do Quartzo<br>
          <h4>Viseu</h4>
          <p>Rua de Santa Luzia, 3515-371 Vila Nova do Campo
          </p>
        </h3>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
