<h1 class="museus">Museu Fragata D. Fernando II e Gloria</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Fragata/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/1.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Fragata/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>
      O Museu Fragata D. Fernando II e Gloria, situado em Almada, Portugal, é um dos mais importantes museus
      marítimos do país. Inaugurado em 1963, este museu é único porque a fragata D. Fernando II e Gloria é a
      última nave da Marinha Portuguesa do século XIX ainda em condições de navegar.
      <br><br>
      Construída entre 1843 e 1845 nos estaleiros da cidade do Porto, a fragata serviu inicialmente como navio de
      guerra. Posteriormente, foi convertida para fins de treinamento e navegou até 1963, quando foi transformada
      em museu.
      <br><br>
      A exposição permanente abrange a vida a bordo e a história da navegação a vela, com ênfase na história da
      fragata e no papel da Marinha Portuguesa.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.6</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Av. Aliança Povo M.F.A, 2800-253 Almada</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Fragata D. Fernando II e Gloria</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Fragata/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>3.5€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Fragata D. Fernando II e Gloria<br>
          <h4>Lisboa</h4>
          <p>Av. Aliança Povo M.F.A, 2800-253 Almada</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://gulbenkian.pt/museu/bilheteira/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
