<h1 class="museus">Museu do Queijo</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Queijo/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Queijo/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu do Queijo, situado em Castelo Branco, é um espaço dedicado à valorização e divulgação da tradição
      queijeira da região, especialmente do famoso queijo de Castelo Branco. Este museu oferece uma
      experiência enriquecedora para quem deseja conhecer a história, a produção e as particularidades deste
      produto emblemático da gastronomia portuguesa.
      <br><br>
      O museu está instalado numa estrutura moderna e acolhedora, desenhada para proporcionar uma imersão
      completa no universo do queijo. A exposição permanente é cuidadosamente organizada, permitindo aos
      visitantes seguir um percurso que abrange desde a origem do queijo na região até às técnicas
      tradicionais e modernas de produção.
      <br><br>
      Um dos pontos altos da visita é a secção dedicada ao processo de produção do queijo. Aqui, os visitantes
      podem aprender sobre as etapas de fabrico, desde a ordenha das ovelhas e cabras até à cura e maturação
      dos queijos. Painéis informativos, vídeos e maquetes ilustram cada passo, destacando a importância dos
      métodos artesanais e da utilização de ingredientes locais e naturais.
      <br><br>
      O museu também explora a história e a cultura associadas ao queijo de Castelo Branco. Documentos,
      fotografias e objetos antigos ajudam a contar a história dos pastores e queijeiros que, ao longo dos
      séculos, mantiveram viva esta tradição. Esta secção proporciona um olhar profundo sobre a vida rural e
      as práticas comunitárias que moldaram a identidade da região.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.3</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> 6200-591 Peraboa</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu do Queijo</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Queijo/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-3">
        <h2 style="color: green; text-align: center;">Gratuito</h2>
      </div>
      <div class="col-md-6">
        <h3>Museu do Queijo<br>
          <h4>Castelo Branco</h4>
          <p>6200-591 Peraboa</p>
        </h3>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
