<h1 class="museus">Museu Nacional do Azulejo</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Azulejo/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Azulejo/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu Nacional do Azulejo, situado em Lisboa, é um dos mais importantes museus de Portugal, dedicado à
      arte do azulejo. Este museu oferece uma viagem fascinante pela história do azulejo português, desde os
      seus primórdios no século XV até à atualidade. Localizado no antigo Convento da Madre de Deus, o museu
      proporciona uma experiência única ao combinar a beleza arquitetónica do edifício histórico com a riqueza
      das suas coleções.
      <br><br>
      O acervo do museu é impressionante, com uma vasta coleção de azulejos que ilustram a evolução desta
      forma de arte em Portugal. As peças exibidas abrangem diversos estilos e períodos, desde os azulejos
      hispano-mouriscos, passando pelo esplendor barroco, até aos exemplos mais contemporâneos. Entre os
      destaques, encontra-se o grande painel de azulejos que retrata a cidade de Lisboa antes do terramoto de
      1755, uma obra de notável precisão e detalhe.
      <br><br>
      A exposição permanente do museu está organizada de forma cronológica, permitindo aos visitantes uma
      compreensão clara da evolução técnica e artística do azulejo. Além disso, o museu promove exposições
      temporárias, muitas vezes dedicadas a artistas ou temas específicos, que complementam e enriquecem a
      experiência dos visitantes.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.6</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. Me. Deus 4, 1900-312 Lisboa</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Nacional do Azulejo</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Azulejo/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>7.60€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Nacional do Azulejo<br>
          <h4>Lisboa</h4>
          <p>R. Me. Deus 4, 1900-312 Lisboa</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://bilheteira.museusemonumentos.pt/pos/event/list" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
    </div>
  </div><br>
  <br>
</div><br>
