<h1 class="museus">Museu Biscainhos</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Biscainhos/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Biscainhos/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu dos Biscainhos, localizado em Braga, Portugal, é uma instituição cultural que oferece uma rica
      visão da vida aristocrática dos séculos XVII e XVIII. Instalado no histórico Palácio dos Biscainhos, o
      museu foi inaugurado em 1978 e é conhecido tanto pela sua magnífica arquitetura barroca quanto pelos
      seus belos jardins.
      <br><br>
      O palácio que abriga o museu foi construído no início do século XVII e ampliado ao longo dos séculos
      seguintes. A sua arquitetura e decoração são exemplos impressionantes do estilo barroco, com interiores
      luxuosamente decorados que incluem azulejos, estuques, pinturas, mobiliário e tapeçarias. Estes
      elementos ajudam a recriar o ambiente sofisticado e elegante da vida aristocrática da época.
      <br><br>
      A coleção do Museu dos Biscainhos é diversa e inclui mobiliário, porcelanas, vidros, têxteis, joias e
      outros objetos decorativos que eram usados nas casas nobres portuguesas dos séculos XVII e XVIII. Cada
      sala do palácio está cuidadosamente decorada para refletir o estilo de vida da nobreza daquela época,
      desde os salões de recepção até aos quartos privados e às áreas de serviço.
      <br><br>
      Um dos destaques do museu é a sua coleção de azulejos, que cobre paredes e pisos de várias salas do
      palácio. Estes azulejos, muitos dos quais datam do século XVIII, apresentam padrões intrincados e cenas
      figurativas que são verdadeiras obras de arte. Além disso, o museu possui uma significativa coleção de
      mobiliário português e europeu, que inclui peças raras e de grande valor histórico.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.5</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. dos Biscaínhos s/n, 4700-415 Braga</p>
  </div>
</div><br>
<br>
<br>
<h1 class="museus">Bilhete para Museu Biscainhos</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Biscainhos/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>2€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Biscainhos<br>
          <h4>Braga</h4>
          <p>
            R. dos Biscaínhos s/n, 4700-415 Braga
          </p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://museudosbiscainhos.gov.pt/planear-a-visita/bilhetica-e-horarios/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
