<h1 class="museus">Museu do Pão</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Pão/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Pão/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu do Pão, localizado em Seia, na região da Guarda, Portugal, é uma instituição dedicada a preservar
      e celebrar a história, a cultura e a tradição do pão. Inaugurado em 2002, o museu oferece uma
      experiência imersiva e educativa que explora o papel vital do pão na sociedade ao longo dos séculos. A
      localização do museu, nas proximidades da Serra da Estrela, acrescenta um contexto cultural e histórico
      importante, dado que esta região é conhecida por suas tradições agrícolas e culinárias.
      <br><br>
      A exposição permanente do Museu do Pão está organizada em várias secções temáticas que abordam
      diferentes aspetos da produção e do consumo do pão. Uma das principais secções é o "Ciclo do Pão", que
      detalha todo o processo de produção, desde a sementeira e colheita do trigo até à moagem, amassadura e
      cozedura. Máquinas antigas, ferramentas agrícolas e objetos tradicionais são exibidos, proporcionando
      uma compreensão detalhada e prática de cada etapa do processo de produção do pão.
      <br><br>
      Outra secção importante do museu é a "História do Pão", onde os visitantes podem aprender sobre a
      importância histórica e cultural do pão em várias civilizações ao longo do tempo. A exposição apresenta
      painéis informativos, artefatos antigos e recriações de cenas históricas que mostram como o pão era
      produzido e consumido em diferentes épocas e culturas, destacando o seu papel como alimento básico e
      símbolo cultural.
      <br><br>
      O museu também dedica uma secção à "Arte e Cultura do Pão", explorando como o pão é representado na
      arte, literatura e religião.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.5</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Rua de Santana, R. do Fonte do Marrão, 6270-538 Seia</p>
  </div>
</div><br>
<br>
<br>
<h1 class="museus">Bilhete para Museu de Pão</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Pão/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>7.5€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu de Pão<br>
          <h4>Guarda</h4>
          <p>
            Rua de Santana, R. do Fonte do Marrão, 6270-538 Seia
          </p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.museudopao.pt/bilheteira/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
