<h1 class="museus">Bilhetaria</h1>
<div class="bilhetespage">
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete<i> Vozes do Fado Lisboa</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/lisboa-fado.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2>2ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>24<br>
          <h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md" style="height: 80px; width: 120px;">
        <h2>39,90€</h2>
      </div>
      <div class="col-md-5">
        <h3>Vozes do fado no Coliseu<br>
          <h4>Coliseu de Lisboa</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-538492/VOZES-DO-FADO-NO-COLISEU" class="btn"
             style="background-color: lightyellow;">Comprar</a>
        </h3>
      </div>
    </div>
  </div><br>
  <hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete<i> Corpos Humanos Reais</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/lisboa- humanos.jpeg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2>4ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>26<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md" style="height: 80px; width: 120px;">
        <h2>10€</h2>
      </div>
      <div class="col-md-5">
        <h3>Corpos Humanos Reais<br>
          <h4>Centro comercial Alvaláxia</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-536793/CORPOS-HUMANOS-REAIS-%7C-BODIES-EXPOSI%C3%87%C3%83O-"
             class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>
      </div>
    </div>
  </div><br>
  <hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Madagáscar | Uma Aventura Musical</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/madagascar.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">Dom</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>16<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>16€</h2>
      </div>
      <div class="col-md-5">
        <h3>Madagáscar | Uma Aventura Musical<br>
          <h4>Centro Cultural MalaPosta, Odivelas</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-539360/MADAG%C3%81SCAR-%7C-UMA-AVENTURA-MUSICAL-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br>
  <hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Lisboa Africana Percurso</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/lisboa - africa.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -20px;">Sab</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>22<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>5€</h2>
      </div>
      <div class="col-md-5">
        <h3>Lisboa Africana Percurso<br>
          <h4>Praça D.Luis I </h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-528288/LISBOA-AFRICANA-PERCURSO-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Casa Portuguesa</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/casa portuguesa.jpeg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">Sab</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>8<h4 style="margin-top: -10px;">Jul2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>10€</h2>
      </div>
      <div class="col-md-5">
        <h3>Casa Portuguesa<br>
          <h4>Teatro Maria Matos</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-537712/CASA-PORTUGUESA-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br>
  <hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Kind of Queen</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/queen.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">Sab</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>15<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>15€</h2>
      </div>
      <div class="col-md-5">
        <h3>Kind of Queen<br>
          <h4>The Music Station</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-538304/KIND-OF-QUEEN-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Evil Live Festival</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/evil.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">Dom</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>30<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>65€</h2>
      </div>
      <div class="col-md-5">
        <h3>Evil Live Festival<br>
          <h4>Meo Arena</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-534886/EVIL-LIVE-FESTIVAL-2024%C2%A8-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>3ª Exposição Internacional de Orquídeas</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/orquideas.jpeg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">Sex</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>14<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>4€</h2>
      </div>
      <div class="col-md-5">
        <h3>3ª Exposição Internacional de Orquídeas<br>
          <h4>Seminário Maior</h4>
          <p>Coimbra</p>
          <a href="https://bilheteira.fnac.pt/Evento-538334/3%C2%AA-EXPOSI%C3%87%C3%83O-INTERNACIONAL-DE-ORQUIDEAS-DE-COIMBRA-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>La Bayadère</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/la bayadere.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">Dom</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>30<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>15€</h2>
      </div>
      <div class="col-md-5">
        <h3>La Bayadère<br>
          <h4>Convento São Francisco</h4>
          <p>Coimbra</p>
          <a href="https://bilheteira.fnac.pt/Evento-539948/LA-BAYAD%C3%88RE-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Regaleira à Noite - Visita Guiada</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/regaleira.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">5ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>20<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>25€</h2>
      </div>
      <div class="col-md-5">
        <h3>Regaleira à Noite - Visita Guiada<br>
          <h4>Quinta da Regaleira</h4>
          <p>Sintra</p>
          <a href="https://bilheteira.fnac.pt/Evento-538615/REGALEIRA-%C3%80-NOITE-VISITA-GUIADA-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>FCE3</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/fce.jpeg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">5ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>27<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>30€</h2>
      </div>
      <div class="col-md-5">
        <h3>FCE3<br>
          <h4>Sagres Campo Pequeno</h4>
          <p>Lisboa</p>
          <a href="https://bilheteira.fnac.pt/Evento-537043/FCE3-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>

      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Festival Panda 2024</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/panda.jpeg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">6ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>28<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>18,90€</h2>
      </div>
      <div class="col-md-5">
        <h3>Festival Panda 2024<br>
          <h4>Parque dos Poetas</h4>
          <p>Oeiras</p>
          <a href="https://bilheteira.fnac.pt/Evento-538537/FESTIVAL-PANDA-2024-%7C-OEIRAS-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>
      </div>
    </div>
  </div><br><hr><br><br><br>
  <div class="container border bilhetescard" style="height: 175px;">
    <h3 class="museus" style="margin-top: -65px;">Bilhete <i>Festival Sintra</i></h3><br>
    <div class="row">
      <div class="col-md-3">
        <img src="assets/bilhetes-fotos/sintra.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -30px;">5ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>13<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-" style="height: 80px; width: 120px;">
        <h2>15€</h2>
      </div>
      <div class="col-md-5">
        <h3>Festival Sintra<br>
          <h4>Várias Salas</h4>
          <p>Sintra</p>
          <a href="https://bilheteira.fnac.pt/Evento-539191/FESTIVAL-DE-SINTRA-" class="btn" style="background-color: lightyellow;">Comprar</a>
        </h3>
      </div>
    </div>
  </div>
</div><br>
