<h1 class="museus">Museu Calouste Gulbenkian</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/CalousteGulbenkian/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu Calouste Gulbenkian, localizado em Lisboa, Portugal, é uma das mais importantes instituições
      culturais do país. Inaugurado em 1969, o museu é dedicado à coleção privada do armênio Calouste
      Gulbenkian, um colecionador e mecenas cujo legado artístico e cultural é vasto e diversificado.
      <br><br>
      A coleção do museu abrange arte egípcia, greco-romana, islâmica, asiática e europeia, abrangendo desde
      antiguidades até à arte contemporânea. Os visitantes podem admirar peças de cerâmica, escultura, pintura
      e artes decorativas, representando uma ampla gama de estilos e períodos históricos.
      <br><br>
      Além da coleção permanente, o museu também organiza exposições temporárias que destacam diferentes
      aspetos da arte e da cultura, tanto do Oriente como do Ocidente. Estas exposições proporcionam uma visão
      dinâmica e atualizada da coleção, mantendo o interesse e a curiosidade dos visitantes.
      <br><br>
      O edifício do museu, projetado pelo arquiteto francês Franco-Swiss, é um exemplo de arquitetura moderna
      com jardins paisagísticos que criam um ambiente sereno e contemplativo. O espaço inclui também uma
      biblioteca, um auditório, um centro de arte moderna, e um espaço para exposições temporárias.
      <br><br>
      Com suas ricas coleções, instalações modernas e programação diversificada, o Museu Calouste Gulbenkian é
      um dos principais destinos culturais de Lisboa, oferecendo uma experiência enriquecedora e educativa
      para os visitantes interessados na arte e na cultura global.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.7</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Jardim da Fundação Calouste Gulbenkian</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Calouste Gulbenkian</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/CalousteGulbenkian/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>10€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Calouste Gulbenkian<br>
          <h4>Lisboa</h4>
          <p>Jardim da Fundação Calouste Gulbenkian</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://gulbenkian.pt/museu/bilheteira/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
