<h1 class="museus">Museu Nacional de Machado de Castro</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/MachadoCastro/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/MachadoCastro/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu Nacional de Machado de Castro, situado em Coimbra, é um dos mais importantes museus de arte de
      Portugal, destacando-se pela sua vasta coleção de escultura, bem como por estar localizado num edifício
      de grande valor histórico. O museu deve o seu nome a Joaquim Machado de Castro, um dos mais notáveis
      escultores portugueses do século XVIII.
      <br><br>
      O museu está instalado no antigo Paço Episcopal de Coimbra, um edifício cuja história remonta à época
      romana, com a presença do criptopórtico, uma estrutura subterrânea construída no século I, que é uma das
      atrações principais do museu. Este criptopórtico é um dos melhores exemplos da arquitetura romana em
      Portugal, proporcionando uma fascinante viagem no tempo aos visitantes.
      <br><br>
      A coleção do Museu Machado de Castro é rica e diversificada, abrangendo escultura, pintura, ourivesaria,
      cerâmica e têxteis, entre outros. A escultura, contudo, é o ponto forte do acervo, com peças que vão
      desde a época medieval até ao período barroco. Entre as obras mais significativas, destacam-se as
      esculturas religiosas em madeira e pedra, que são testemunhos importantes da devoção e da arte sacra em
      Portugal.
      <br><br>
      Além das esculturas, o museu possui uma importante coleção de pinturas, com obras que abrangem diversos
      períodos e estilos. A ourivesaria é outro destaque, com peças litúrgicas que refletem a habilidade e o
      talento dos artesãos portugueses ao longo dos séculos.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.7</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> Largo Dr. José Rodrigues, 3000-236 Coimbra</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Nacional de Machado de Castro</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/MachadoCastro/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>8€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Nacional de Machado de Castro<br>
          <h4>Coimbra</h4>
          <p>Largo Dr. José Rodrigues, 3000-236 Coimbra</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://culturaportugal.gov.pt/pt/conhecer/local/mmp-locais/museu-nacional-machado-de-castro/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
