<h1 class="museus">Museu Serralves</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Porto/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Porto/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu de Serralves, situado no Porto, Portugal, é uma das mais importantes instituições culturais do
      país, dedicada à arte contemporânea. Inaugurado em 1999, o museu é parte integrante da Fundação de
      Serralves e está localizado dentro de um complexo que inclui a Casa de Serralves, um edifício histórico
      dos anos 30, e um extenso parque de 18 hectares.
      <br><br>
      O edifício do museu, projetado pelo arquiteto Álvaro Siza Vieira, é um exemplo notável da arquitetura
      contemporânea portuguesa. Com linhas simples e espaços amplos, o design do museu complementa
      perfeitamente as obras de arte que exibe, criando um ambiente sereno e contemplativo para os visitantes.
      O layout do museu permite uma circulação fluida entre as diversas salas de exposição, proporcionando uma
      experiência enriquecedora.
      <br><br>
      A coleção permanente do Museu de Serralves inclui obras de artistas nacionais e internacionais de grande
      renome, representando uma ampla gama de estilos e movimentos dentro da arte contemporânea. Além das
      exposições permanentes, o museu é conhecido por suas mostras temporárias, que trazem ao público
      português e internacional as mais recentes tendências e inovações no mundo da arte.
      <br><br>
      O Parque de Serralves, que rodeia o museu, é um espaço verde cuidadosamente projetado, onde os
      visitantes podem desfrutar de uma mistura de natureza e arte. Com jardins formais, áreas arborizadas,
      lagos e esculturas ao ar livre, o parque é um oásis de tranquilidade na movimentada cidade do Porto.
      Este espaço é frequentemente utilizado para atividades culturais, como performances, concertos e
      workshops, que complementam a programação do museu.
      <br><br>
      A Casa de Serralves, uma mansão art déco restaurada, abriga exposições temporárias e eventos especiais.
      A combinação da arquitetura histórica com a arte contemporânea cria um diálogo interessante entre o
      passado e o presente, enriquecendo a experiência dos visitantes.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.4</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. Dom João de Castro 210, 4150-417 Porto</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Serralves</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Porto/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>24€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Serralves<br>
          <h4>Porto</h4>
          <p>RR. Dom João de Castro 210, 4150-417 Porto</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.serralves.pt/visitar-serralves/" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
