<h1 class="museus">Museu dos Descobrimentos</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/Descobrimentos/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/Descobrimentos/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu dos Descobrimentos, situado em Belmonte, Portugal, é uma instituição dedicada a celebrar e
      explorar a era das grandes navegações e descobertas marítimas portuguesas. Inaugurado em 2009, o museu
      está instalado numa antiga residência senhorial e oferece aos visitantes uma viagem interativa e
      educativa através de um dos períodos mais significativos da história de Portugal.
      <br><br>
      O acervo do Museu dos Descobrimentos é composto por uma série de exposições que abordam diferentes
      aspectos da era dos Descobrimentos, desde a motivação para as explorações marítimas até aos impactos
      culturais, económicos e sociais que resultaram destas viagens. As exposições utilizam uma combinação de
      artefatos históricos, réplicas, mapas antigos, documentos e recursos multimédia para criar uma
      experiência envolvente e informativa.
      <br><br>
      Uma das principais atrações do museu é a recriação de ambientes históricos, como a ponte de comando de
      uma caravela e os portos de embarque, permitindo aos visitantes sentir como era a vida a bordo dos
      navios e o ambiente das viagens marítimas. Essas recriações, juntamente com efeitos sonoros e visuais,
      ajudam a dar vida às histórias dos navegadores e às suas aventuras.
      <br><br>
      O museu também destaca figuras importantes da era dos Descobrimentos, como Pedro Álvares Cabral, que
      nasceu em Belmonte e é famoso por ter descoberto o Brasil em 1500. Exposições dedicadas a Cabral e
      outros navegadores exploram as suas viagens, realizações e o legado que deixaram.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.5</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. Pedro Álvares Cabral 68, 6250-088 Belmonte</p>
  </div>
</div><br>
<br>
<br>
<h1 class="museus">Bilhete para Museu dos Descobrimentos</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/Descobrimentos/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>10€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu dos Descobrimentos<br>
          <h4>Castelo Branco</h4>
          <p>
            R. Pedro Álvares Cabral 68, 6250-088 Belmonte
          </p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.worldofdiscoveries.com/bilheteira" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
