<h1 class="museus">Marchas da Liberdade, Guarda</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="carousel-container saojoao" style="padding-top: 90px;">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/eventos-fotos/event3/fotos/1.png" alt="Foto 1" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event3/fotos/2.jpg" alt="Foto 2" class="carousel-img">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br><br>
    <p>
      As Marchas da Liberdade, realizadas em Santos da Guarda, são um evento cultural e tradicional que celebra
      a liberdade e a identidade local através de desfiles e apresentações artísticas. Este evento é uma
      manifestação vibrante da cultura popular, trazendo a comunidade para as ruas em uma celebração de
      música, dança e cores.
      <br><br>
      Os desfiles temáticos são uma das características mais marcantes das Marchas da Liberdade. Diferentes
      grupos competem entre si, apresentando coreografias, músicas e trajes elaborados. Cada grupo escolhe um
      tema específico que é representado através de sua performance, refletindo aspectos culturais, históricos
      ou sociais da região. Esses temas podem variar de tradições folclóricas a eventos históricos, passando
      por questões sociais contemporâneas.
      <br><br>
      A preparação para as marchas começa meses antes do evento, com os grupos ensaiando rigorosamente para
      garantir uma apresentação de alta qualidade. Os trajes são cuidadosamente confeccionados, muitas vezes à
      mão, com atenção aos detalhes que ajudam a contar a história do tema escolhido. As músicas e danças são
      coreografadas para criar um espetáculo visual e auditivo que encanta o público.
      <br><br>
      Além dos desfiles, as Marchas da Liberdade também incluem outras atividades culturais, como concertos,
      exposições e feiras de artesanato. Esses eventos paralelos ajudam a enriquecer a experiência cultural,
      proporcionando um espaço para artistas locais e regionais exibirem seu trabalho. É um momento de
      celebração coletiva, onde a comunidade se reúne para apreciar e participar das diversas expressões
      culturais.
      <br><br>
      As Marchas da Liberdade são mais do que apenas um evento festivo; elas representam a resiliência e o
      espírito comunitário de Santos da Guarda. Através da música, da dança e da criatividade, os
      participantes expressam suas identidades e valores, fortalecendo os laços comunitários e celebrando a
      liberdade de expressão. Este evento anual é uma parte importante do calendário cultural da região,
      atraindo visitantes e residentes para uma celebração inesquecível.
    </p>
    <p><fa-icon [icon]="faLocation" style="margin-left: 50px;"></fa-icon> 6300-667 Guarda Praça do Município</p>
    <p><fa-icon [icon]="faTicket" style="margin-left: 50px;margin-top: -10px;"></fa-icon><i class="mx-2">Tradição</i></p>
  </div>
</div><br>
