<h1 class="museus">Mosteiro de São Martinho e Tibães</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/SãoTibães/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/SãoTibães/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>Mosteiro de São Martinho de Tibães, também conhecido como Mosteiro de Tibães, está localizado na
      freguesia de Mire de Tibães, no concelho de Braga, Portugal. Este mosteiro beneditino, fundado no século
      XI, tornou-se um dos mais importantes centros religiosos e culturais de Portugal durante a Idade Média.
      Em 1567, o mosteiro passou a ser a casa-mãe da Congregação de São Bento da Província de Portugal,
      ampliando significativamente sua influência e riqueza.
      <br><br>
      A arquitetura do Mosteiro de Tibães é um
      testemunho impressionante do barroco português, resultado de várias fases de construção e remodelação ao
      longo dos séculos. A igreja do mosteiro, concluída no início do século XVII, é particularmente notável
      pelas suas ornamentações ricas e pela talha dourada. O claustro, os azulejos e os jardins refletem a
      grandiosidade e a espiritualidade que caracterizavam a vida monástica da época.
      <br><br>
      No século XIX, com a
      extinção das ordens religiosas em Portugal, o mosteiro entrou em declínio e foi parcialmente vendido em
      leilão. Durante anos, a propriedade passou por um estado de abandono, resultando na perda de muitos dos
      seus tesouros artísticos e arquitetônicos. Somente no final do século XX, o Estado português iniciou um
      processo de aquisição e restauração do mosteiro, visando recuperar e preservar este importante monumento
      histórico.
      <br><br>
      Atualmente, o Mosteiro de Tibães é um museu e um espaço cultural, oferecendo aos visitantes a
      oportunidade de explorar a história e a arquitetura do local. O processo de restauro trouxe de volta
      muitos dos elementos decorativos originais, e o mosteiro é frequentemente utilizado para eventos
      culturais, exposições e atividades educativas. A visita ao Mosteiro de Tibães proporciona uma viagem no
      tempo, revelando a rica herança religiosa e cultural de Portugal.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.7</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. do Mosteiro n.º 59, 4700-565 Mire de Tibães</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Mosteiro São Martinho e Tibães</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/SãoTibães/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>4€</h2>
      </div>
      <div class="col-md-4">
        <h3>Mosteiro de São Martinho e Tibães<br>
          <h4>Braga</h4>
          <p>R. do Mosteiro n.º 59, 4700-565 Mire de Tibães</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://bilheteira.culturanorte.gov.pt/pt/monument/12" class="btn btn-lg w-75" style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
