<h1 class="museus">O Túmulo Megalítico de Santa Rita, Faro</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="carousel-container saojoao" style="padding-top: 90px;">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/eventos-fotos/event5/fotos/1.jpg" alt="Foto 1" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event5/fotos/2.jpg" alt="Foto 2" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event5/fotos/3.jpg" alt="Foto 3" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event5/fotos/4.jpg" alt="Foto 4" class="carousel-img">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br><br>
    <p>O Túmulo Megalítico de Santa Rita é um importante sítio arqueológico localizado em Portugal. Este
      monumento pré-histórico pertence ao período neolítico e é representativo das práticas funerárias e das
      construções megalíticas daquela época.
      <br><br>
      O túmulo é caracterizado por sua estrutura de grande escala, composta por enormes pedras erguidas de
      forma a criar uma câmara funerária. Estas câmaras eram cobertas por grandes lajes de pedra e muitas
      vezes estavam originalmente recobertas por um monte de terra ou pedras menores, formando um túmulo ou
      uma colina artificial. Este tipo de construção é típico dos dólmens, também conhecidos como antas em
      Portugal.
      <br><br>
      A localização do Túmulo Megalítico de Santa Rita sugere que ele tinha uma importância significativa para
      as comunidades neolíticas locais. Além de servir como local de sepultamento, o túmulo pode ter
      desempenhado um papel importante em rituais e cerimônias, possivelmente relacionadas com crenças sobre a
      vida após a morte e a veneração dos antepassados.
      <br><br>
      Escavações arqueológicas realizadas no sítio revelaram diversos artefatos, incluindo cerâmicas,
      ferramentas de pedra e outros objetos que acompanham os enterramentos. Esses achados fornecem insights
      valiosos sobre as práticas culturais, tecnológicas e sociais das comunidades neolíticas que construíram
      e utilizaram o túmulo.
      <br><br>
      A conservação do Túmulo Megalítico de Santa Rita é fundamental para a preservação do patrimônio cultural
      e histórico. Esforços têm sido feitos para proteger o sítio contra danos causados pelo tempo, pela
      erosão e pela atividade humana. Além disso, o local é um importante recurso educacional, permitindo que
      o público e os pesquisadores aprendam mais sobre as civilizações antigas e suas práticas.<br><br>
    </p>
    <p><fa-icon [icon]="faLocation" style="margin-left: 50px;"></fa-icon> Antiga Escola Primária de Santa Rita</p>
    <p><fa-icon [icon]="faTicket" style="margin-left: 50px;margin-top: -10px;"></fa-icon><i class="mx-2">Conferência</i></p>
  </div>
</div><br>
