<h1 class="museus">Jornadas Europeias da Arqueologia, Leiria</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="carousel-container saojoao" style="padding-top: 90px;">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/eventos-fotos/event4/fotos/1.png" alt="Foto 1" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event4/fotos/2.jpg" alt="Foto 2" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event4/fotos/3.jpg" alt="Foto 3" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event4/fotos/4.jpg" alt="Foto 4" class="carousel-img">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br><br>
    <p>As Jornadas Europeias da Arqueologia são um evento anual que celebra a rica herança arqueológica da
      Europa. Este evento, promovido por diversas instituições e entidades culturais, visa aumentar a
      conscientização sobre a importância da arqueologia na compreensão da história e das civilizações
      antigas.
      <br><br>
      Durante as Jornadas Europeias da Arqueologia, uma série de atividades são organizadas em diferentes
      países europeus. Estas atividades incluem visitas guiadas a sítios arqueológicos, exposições, palestras,
      workshops e demonstrações práticas de técnicas arqueológicas. Esses eventos são projetados para envolver
      o público em geral, bem como especialistas na área, proporcionando uma experiência educativa e
      interativa.
      <br><br>
      Os sítios arqueológicos abertos ao público durante as jornadas variam desde locais pré-históricos até
      ruínas romanas, medievais e mais recentes. Essas visitas guiadas oferecem uma oportunidade única de
      explorar locais históricos com a orientação de arqueólogos experientes, que compartilham suas
      descobertas e explicam a importância dos achados arqueológicos.
      <br><br>
      Exposições realizadas em museus e centros culturais durante as Jornadas Europeias da Arqueologia
      apresentam artefatos descobertos em escavações, oferecendo uma visão detalhada da vida cotidiana,
      religião, comércio e outros aspectos das antigas civilizações. Essas exposições muitas vezes incluem
      artefatos raros e importantes que não estão normalmente em exibição.
      Palestras e workshops são parte integrante das jornadas, proporcionando uma plataforma para a troca de
      conhecimentos entre arqueólogos, estudantes e o público interessado. Essas sessões cobrem uma ampla gama
      de tópicos, desde métodos de escavação e análise até a interpretação de descobertas arqueológicas e a
      conservação do patrimônio cultural.
      <br><br>
      As demonstrações práticas são particularmente populares entre os visitantes, permitindo-lhes
      experimentar técnicas arqueológicas como escavação, análise de artefatos e reconstrução de objetos
      antigos. Estas atividades práticas ajudam a tornar a arqueologia mais acessível e compreensível para
      todos os públicos.
    </p>
    <p><fa-icon [icon]="faLocation" style="margin-left: 50px;"></fa-icon> Torre do Castelo de Aguiar de Sousa</p>
    <p><fa-icon [icon]="faTicket" style="margin-left: 50px;margin-top: -10px;"></fa-icon><i class="mx-2">Passeios e Visitas</i></p>
  </div>
</div><br>
