<h1 class="museus">São João, Braga</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="carousel-container saojoao" style="padding-top: 90px;">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/eventos-fotos/event1/fotos/1.jpg" alt="Foto 1" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event1/fotos/2.jpg" alt="Foto 2" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event1/fotos/3.jpg" alt="Foto 3" class="carousel-img">
        </div>
        <div class="carousel-item">
          <img src="assets/eventos-fotos/event1/fotos/4.jpg" alt="Foto 4" class="carousel-img">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br><br>
    <p>As festas de São João em Braga, uma das cidades mais antigas e históricas de Portugal, são celebradas com
      grande fervor e tradição. Esta celebração, que acontece no mês de junho, destaca-se como uma das maiores
      festas populares do país, atraindo milhares de visitantes todos os anos. As festividades combinam
      elementos religiosos, culturais e sociais, proporcionando uma experiência rica e diversificada para os
      participantes.<br><br>

      A celebração de São João em Braga tem profundas raízes religiosas, com destaque para as procissões que
      percorrem as ruas da cidade. A procissão do São João, que inclui a imagem do santo, é um dos momentos
      mais solenes e emocionantes da festa, refletindo a devoção dos bracarenses. Além das procissões, as
      igrejas realizam missas e outros eventos litúrgicos em homenagem a São João Batista, fortalecendo o
      caráter espiritual da festa.<br><br>

      As festividades de São João em Braga também são marcadas por uma série de atividades culturais e
      recreativas. As ruas da cidade se enchem de música, dança e animação, com destaque para os espetáculos
      de folclore e as bandas filarmónicas. As danças tradicionais e os grupos de bombos são uma atração à
      parte, criando um ambiente de alegria e celebração que contagia todos os presentes.<br><br>

      A gastronomia tem um papel central nas festas de São João em Braga. As ruas se enchem de barracas que
      oferecem delícias típicas da região, como sardinhas assadas, fêveras (costeletas de porco) e caldo
      verde. As pessoas se reúnem em convívio, desfrutando das comidas e bebidas típicas, enquanto celebram a
      noite de São João. Este aspecto gastronômico reforça os laços comunitários e cria memórias inesquecíveis
      para os participantes.<br><br>

      Por fim, as festas de São João em Braga são conhecidas pelas suas tradições únicas, como a dança do
      "corridinho" e os "cabeçudos" (figuras gigantes de papel machê). As celebrações culminam com
      espetaculares fogos de artifício, que iluminam o céu da cidade e marcam o encerramento das festividades.
      Este evento anual não só preserva a rica herança cultural de Braga, mas também fortalece a identidade e
      a coesão social da comunidade, fazendo de São João uma festa imperdível na cidade.</p>


    <p><fa-icon [icon]="faLocation" style="margin-left: 50px;"></fa-icon> Braga</p>
    <p><fa-icon [icon]="faTicket" style="margin-left: 50px;margin-top: -10px;"></fa-icon><i class="mx-2">Festivais e Tradição</i></p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para São João</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/museus-pages/Gileanes/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%;">
      </div>
      <div class="col-md-1" style="height: 70px; width: 60px;">
        <h2>2ª</h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 150px;">
        <h2>24<br>
          <h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md-1" style="height: 80px; width: 120px;">
        <h2 style="margin-left: -30px;color: green;">Gratuito</h2>
      </div>
      <div class="col-md-5">
        <h3>São João<br>
          <h4>Braga</h4>
        </h3>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
