<h1 class="museus">Museu Grutas das Moedas</h1>
<div class=" d-flex justify-content-center align-items-center">
  <div class="carousel-container galeriafotos">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/1.jpg" alt="Foto 1">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/2.jpg" alt="Foto 2">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/3.jpg" alt="Foto 3">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/4.jpg" alt="Foto 4">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/5.jpg" alt="Foto 5">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/6.jpg" alt="Foto 6">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/7.jpg" alt="Foto 7">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/8.jpg" alt="Foto 8">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/9.jpg" alt="Foto 9">
        </div>
        <div class="carousel-item">
          <img src="assets/museus-pages/GrutasMoedas/Fotos/10.jpg" alt="Foto 10">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>O Museu das Grutas de Mira de Aire, localizado nas proximidades da vila de Mira de Aire, no centro de
      Portugal, é um fascinante complexo turístico e educativo dedicado à esplêndida rede de cavernas
      subterrâneas conhecidas como Grutas de Mira de Aire. Descobertas em 1947 e abertas ao público em 1974,
      estas grutas são uma das maiores atrações naturais de Portugal, sendo reconhecidas pela sua beleza
      espetacular e importância geológica.
      <br><br>
      As Grutas de Mira de Aire estendem-se por cerca de 11 quilômetros, embora apenas uma parte esteja
      acessível aos visitantes. O museu e as grutas oferecem uma experiência imersiva e educativa, combinando
      a exploração física das formações naturais com exposições informativas sobre a geologia, a história e a
      biologia da região.
      <br><br>
      Ao entrar nas grutas, os visitantes são imediatamente impressionados pelas vastas salas e galerias
      adornadas com estalactites, estalagmites, colunas e outras formações calcárias formadas ao longo de
      milhares de anos. As luzes estrategicamente posicionadas realçam as cores e formas das rochas, criando
      um ambiente mágico e quase surreal. Entre os destaques estão a Grande Cúpula, uma sala imensa com
      formações majestosas, e a Sala Vermelha, conhecida pelas suas intrigantes tonalidades de cor.
      <br><br>
      O Museu das Grutas complementa a visita às cavernas com uma série de exposições que explicam os
      processos geológicos que deram origem às grutas e as características únicas das formações calcárias.
      Modelos, painéis informativos e recursos multimédia ajudam os visitantes a compreender a importância
      científica e ambiental deste sistema de cavernas.
    </p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faStar" style="color: #de9f00;"></fa-icon> 4.3</p>
    <p style="margin-left: 85px;"><fa-icon [icon]="faLocation"></fa-icon> R. das Grutas da Moeda, 2495-028 São Mamede, Leiria</p>
  </div>
</div><br>
<br>



<br>
<h1 class="museus">Bilhete para Museu Gruta das Moedas</h1>
<br>
<div>
  <div class="container border" style="height: 175px;" id="bilhetescard">
    <div class="row align-items-center">
      <div class="col-md-3">
        <img src="assets/museus-pages/GrutasMoedas/Fotos/1.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md">
        <h2>8,50€</h2>
      </div>
      <div class="col-md-4">
        <h3>Museu Grutas das moedas<br>
          <h4>Leiria</h4>
          <p>R. das Grutas da Moeda, 2495-028 São Mamede</p>
        </h3>
      </div>
      <div class="col-md-2 align-content-center">
        <a href="https://www.grutasmoeda.com/bilhetes" class="btn btn-lg w-75"
           style="background-color: lightsteelblue;" target="_blank">Comprar</a>
      </div>
    </div>
  </div><br>
  <br>
</div><br>
