
<!--MUSEUS DESTACADOS-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
            class="active bg-secondary"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            class="bg-secondary"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            class="bg-secondary"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            class="bg-secondary"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            class="bg-secondary"></button>
  </div><br>
  <h1 class="museus">Museus Destacados</h1>
  <div class="carousel-inner carousel1">
    <div class="carousel-item active">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/museus/gil-eanes.jpg" class="img-fluid" alt="Descrição da Imagem">
          </div>
          <div class="col-md-6">
            <h1>Museu Gil-Eanes</h1>
            <p>Desde que o Navio Gil Eannes foi colocado em exposição na antiga doca comercial de Viana
              do Castelo, a Fundação Gil Eannes tem tido como objectivo transformar o Gil Eannes num
              espaço museológico, contribuindo deste modo para o desenvolvimento cultural, turistico e
              científico especialmente em áreas relacionadas com o mar.
              Assim, ao longo destes anos várias obras de reabilitação e restauro têm sido feitas,
              proporcionando aos visitantes o contato com os diversos espaços e adquirindo um pouco da
              história que têm para contar.</p>
            <button class="botaoaudio" (click)="playAudio('audio-element-1')">
              <img src="assets/icons/audio.png" class="audioimagem"></button>
            <audio id="audio-element-1" src="assets/audios/audio-vianadocastelo.mp3"></audio>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/museus/mosteiro-saomartinho.jpeg" class="img-fluid" alt="Descrição da Imagem">
          </div>
          <div class="col-md-6">
            <h1>Mosteiro de São Martinho de Tibães</h1>
            <p>
              O Mosteiro de São Martinho de Tibães, localizado na freguesia de Mire de Tibães, em
              Braga, Portugal, é um dos monumentos religiosos mais significativos do país. Fundado no
              século VI e reconstruído no século XI, o mosteiro tem uma longa história que reflete a
              evolução da arquitetura e da vida monástica ao longo dos séculos. Este local não só
              serviu como centro espiritual, mas também como um importante núcleo cultural e económico
              durante a Idade Média, influenciando profundamente a região envolvente.</p>
            <button class="botaoaudio" (click)="playAudio('audio-element-2')">
              <img src="assets/icons/audio.png" class="audioimagem"></button>
            <audio id="audio-element-2" src="assets/audios/audio-braga.mp3"></audio>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/museus/museu-douro.jpg" class="img-fluid" alt="Descrição da Imagem">
          </div>
          <div class="col-md-6">
            <h1>Museu do Douro</h1>
            <p>
              O Museu do Douro também desempenha um papel crucial na promoção do turismo sustentável
              na região, incentivando os visitantes a explorar não apenas as exposições do museu, mas
              também as vinícolas locais, as paisagens deslumbrantes e as aldeias pitorescas do Vale
              do Douro. Além disso, como centro de pesquisa e educação, o museu colabora com
              instituições acadêmicas e vitivinícolas para promover o desenvolvimento contínuo da
              viticultura e enologia na região.</p>
            <button class="botaoaudio" (click)="playAudio('audio-element-3')">
              <img src="assets/icons/audio.png" class="audioimagem"></button>
            <audio id="audio-element-3" src="assets/audios/museu-douro.mp3"></audio>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/museus/museu-bragança.jpg" class="img-fluid" alt="Descrição da Imagem">
          </div>
          <div class="col-md-6">
            <h1>Museu Militar de Bragança</h1>
            <p>
              O Museu Militar de Bragança, localizado no castelo de Bragança, Portugal, é uma
              instituição cultural de grande importância que preserva e celebra a história militar da
              região e do país. Fundado para preservar e promover o patrimônio militar português, o
              museu oferece uma experiência imersiva que abrange desde armamentos e uniformes até à
              história das campanhas militares e das fortificações.</p>
            <button class="botaoaudio" (click)="playAudio('audio-element-4')">
              <img src="assets/icons/audio.png" class="audioimagem"></button>
            <audio id="audio-element-4" src="assets/audios/audio-braganca.mp3"></audio>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/museus/museu-serraalves.jpg" class="img-fluid" alt="Descrição da Imagem">
          </div>
          <div class="col-md-6">
            <h1>Museu Serralves</h1>
            <p>
              O Museu de Arte Contemporânea de Serralves, localizado no Porto, Portugal, é uma das
              instituições culturais mais importantes do país, dedicado à promoção e exposição da arte
              contemporânea. Situado no Parque de Serralves, um vasto complexo que inclui também a
              Casa de Serralves e magníficos jardins, o museu oferece uma experiência imersiva que
              combina arte, arquitetura e natureza.</p>
            <button class="botaoaudio" (click)="playAudio('audio-element-5')">
              <img src="assets/icons/audio.png" class="audioimagem"></button>
            <audio id="audio-element-5" src="assets/audios/museu-porto.mp3"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>

<!--EVENTOS FUTUROS-->
<br><br>
<h1 class="museus">Eventos Futuros</h1>
<div class="eventos">
  <div class="container" id="eventos" style="padding-top: 50px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Evento 1 -->
      <div class="col">
        <div class="card">
          <img src="assets/eventos/braga.png" class="card-img-top" alt="Evento 1">
          <div class="card-body">
            <h5 class="card-title">Festas São João</h5><br>
            <p class="card-text">
              <fa-icon [icon]="faLocation"></fa-icon>   Braga<br>
              <fa-icon [icon]="faCalendar"></fa-icon>   14/06/2024 até 25/06/2024<br>
              <fa-icon [icon]="faTicket"></fa-icon><i>   Festivais e Tradição</i>
            </p>
            <a href="" class="btn" style="background-color: rgb(187, 248, 187);">Saiba Mais</a>
          </div>
        </div>
      </div>
      <!-- Evento 2 -->
      <div class="col">
        <div class="card">
          <img src="assets/eventos/lisboa.jpg" class="card-img-top" alt="Evento 2">
          <div class="card-body">
            <h5 class="card-title">Conferência | O Átomo e as Partículas Elementares</h5>
            <p class="card-text">
              <fa-icon [icon]="faLocation"></fa-icon>   Lisboa<br>
              <fa-icon [icon]="faCalendar"></fa-icon>   14/06/2024 às 19h30<br>
              <fa-icon [icon]="faTicket"></fa-icon><i>   Conferência</i>
            </p>
            <a href="#" class="btn" style="background-color: rgb(187, 248, 187);">Saiba Mais</a>
          </div>
        </div>
      </div>
      <!-- Evento 3 -->
      <div class="col">
        <div class="card">
          <img src="assets/eventos/guarda.png" class="card-img-top" alt="Evento 3">
          <div class="card-body">
            <h5 class="card-title">MARCHAS DA LIBERDADE | Santos da Guarda</h5>
            <p class="card-text">
              <fa-icon [icon]="faLocation"></fa-icon>   Guarda<br>
              <fa-icon [icon]="faCalendar"></fa-icon>   22/06/2024 às 22h00<br>
              <fa-icon [icon]="faTicket"></fa-icon><i>   Tradição</i>
            </p>
            <a href="" class="btn" style="background-color: rgb(187, 248, 187);">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
    <!-- NOVA LINHA-->
    <div style="margin-top: 50px;" class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Evento 1 -->
      <div class="col">
        <div class="card">
          <img src="assets/eventos/leiria.jpg" class="card-img-top" alt="Evento 4">
          <div class="card-body">
            <h5 class="card-title">Jornadas Europeias da Arqueologia</h5><br>
            <p class="card-text">
              <fa-icon [icon]="faLocation"></fa-icon>   Leiria<br>
              <fa-icon [icon]="faCalendar"></fa-icon>   14/06/2024<br>
              <fa-icon [icon]="faTicket"></fa-icon><i>   Passeios e Visitas</i>
            </p>
            <a href="" class="btn" style="background-color: rgb(187, 248, 187);">Saiba Mais</a>
          </div>
        </div>
      </div>
      <!-- Evento 2 -->
      <div class="col">
        <div class="card">
          <img src="assets/eventos/faro.jpg" class="card-img-top" alt="Evento 5">
          <div class="card-body">
            <h5 class="card-title">O Túmulo Megalítico de Santa Rita</h5><br>
            <p class="card-text">
              <fa-icon [icon]="faLocation"></fa-icon>   Faro<br>
              <fa-icon [icon]="faCalendar"></fa-icon>   21/06/2024<br>
              <fa-icon [icon]="faTicket"></fa-icon><i>   Conferência</i>
            </p>
            <a href="" class="btn" style="background-color: rgb(187, 248, 187);">Saiba Mais</a>
          </div>
        </div>
      </div>
      <!-- Evento 3 -->
      <div class="col">
        <div class="card">
          <img src="assets/eventos/setubal.jpg" class="card-img-top" alt="Evento 6">
          <div class="card-body">
            <h5 class="card-title">Templo de Sílica 3.0</h5><br>
            <p class="card-text">
              <fa-icon [icon]="faLocation"></fa-icon>   Setúbal<br>
              <fa-icon [icon]="faCalendar"></fa-icon>   22/06/2024 às 22h00<br>
              <fa-icon [icon]="faTicket"></fa-icon><i>   Teatro e Dança</i>
            </p>
            <a href="" class="btn" style="background-color: rgb(187, 248, 187);">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<h1 class="museus">Bilhetaria</h1>
<div class="bilhetes">
  <div class="container border bilhetescard align-content-center" style="height: 175px;">
    <div class="row">
      <div class="col-md-3 align-content-center">
        <img src="assets/bilhetes/lisboa-fado.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-1 align-content-center" style="height: 70px; width: 60px;">
        <h2>2ª</h2>
      </div>
      <div class="col-md-1 align-content-center" style="height: 80px; width: 150px;">
        <h2>24<br>
          <h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md align-content-center" style="height: 80px; width: 120px;">
        <h2>39,90€</h2>
      </div>
      <div class="col-md-4 align-content-center">
        <h3>Vozes do fado no Coliseu<br>
          <h4>Coliseu de Lisboa</h4>
          <p>Lisboa</p>
        </h3>
        <!--<img src="/9185914.png" style="margin-left: 475px;width: 50%;height: 49%;margin-top: -165px;">-->
      </div>
      <div class="col-md align-content-center">
        <a href="" class="btn btn-lg w-75" style="background-color: lightyellow;">Comprar</a>
      </div>
    </div>
  </div><br>
  <hr><br>
  <div class="container border bilhetescard align-content-center" style="height: 175px;">
    <div class="row">
      <div class="col-md-3 align-content-center">
        <img src="assets/bilhetes/lisboa-humanos.jpeg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-1 align-content-center" style="height: 70px; width: 60px;">
        <h2>4ª</h2>
      </div>
      <div class="col-md-1 align-content-center" style="height: 80px; width: 150px;">
        <h2>26<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md align-content-center" style="height: 80px; width: 120px;">
        <h2>10€</h2>
      </div>
      <div class="col-md-4 align-content-center">
        <h3>Corpos Humanos Reais<br>
          <h4>Centro comercial Alvaláxia</h4>
          <p>Lisboa</p>
        </h3>
        <!--<img src="/9185914.png" style="margin-left: 475px;width: 50%;height: 49%;margin-top: -165px;">-->
      </div>
      <div class="col-md align-content-center">
        <a href="" class="btn btn-lg w-75" style="background-color: lightyellow;">Comprar</a>
      </div>
    </div>
  </div><br>
  <hr><br>
  <div class="container border bilhetescard align-content-center" style="height: 175px;">
    <div class="row">
      <div class="col-md-3 align-content-center">
        <img src="assets/bilhetes/porto-museu.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-1 align-content-center" style="height: 70px; width: 60px;">
        <h2>3ª</h2>
      </div>
      <div class="col-md-1 align-content-center" style="height: 80px; width: 150px;">
        <h2>18<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md align-content-center" style="height: 80px; width: 120px;">
        <h2>2,20€</h2>
      </div>
      <div class="col-md-4 align-content-center">
        <h3>Visita ao Museu Romântico<br>
          <h4>Câmara Municipal do Porto</h4>
          <p>Porto</p>
        </h3>
        <!--<img src="/9185914.png" style="margin-left: 475px;width: 50%;height: 49%;margin-top: -165px;">-->
      </div>
      <div class="col-md align-content-center">
        <a href="" class="btn btn-lg w-75" style="background-color: lightyellow;">Comprar</a>
      </div>
    </div>
  </div><br>
  <hr><br>
  <div class="container border bilhetescard align-content-center" style="height: 175px;" id="bilhetescard">
    <div class="row">
      <div class="col-md-3 align-content-center">
        <img src="assets/bilhetes/lisboa-africa.jpg" class="d-block mx-auto" style="width: 90%; height: 85%;">
      </div>
      <div class="col-md-1 align-content-center" style="height: 70px; width: 60px;">
        <h2 style="margin-left: -20px;">Sab</h2>
      </div>
      <div class="col-md-1 align-content-center" style="height: 80px; width: 150px;">
        <h2>22<h4 style="margin-top: -10px;">Jun2024</h4>
        </h2>
      </div>
      <div class="col-md align-content-center" style="height: 80px; width: 120px;">
        <h2>5€</h2>
      </div>
      <div class="col-md-4 align-content-center">
        <h3>Lisboa Africana Percurso<br>
          <h4>Praça D.Luis I </h4>
          <p>Lisboa</p>
        </h3>
        <!--<img src="/9185914.png" style="margin-left: 475px;width: 50%;height: 49%;margin-top: -165px;">-->
      </div>
      <div class="col-md align-content-center">
        <a href="" class="btn btn-lg w-75" style="background-color: lightyellow;">Comprar</a>
      </div>
    </div>
  </div><br><br>
</div><br>
